job "selenoid-images" {
    datacenters = [ "{{ datacenter }}" ]
    type = "batch"
    group "selenoid-images" {
    {{# each images }}
        task "selenoid-images-{{ this }}" {
            driver = "raw_exec"
            config {
                command = "/usr/bin/docker"
                args = [
                    "pull",
                    "selenoid/vnc:{{ this }}"
                ]
            }
            resources {
                cpu = 100
                memory = 64
                network {}
            }
        }
    {{/each}}
    }
}
