job "selenoid" {
    datacenters = [ "{{ datacenter }}" ]
    type = "service"
    group "selenoid" {
        count = 1
        update {
            max_parallel = 1
            health_check = "checks"
        }

        task "selenoid" {
            driver = "docker"
            config {
                image = "aerokube/selenoid:{{ version }}"
                privileged = true
                volumes = [
                    "/var/run/docker.sock:/var/run/docker.sock",
                    "browsers.json:/etc/selenoid/browsers.json"
                ]
                port_map {
                    http = 4444
                }
            }

            template {
                destination = "browsers.json"
                data = "{{{ consul }}}"
            }

            service {
                name = "selenoid"
                tags = [
                    "global",
                    "selenoid",
                    "traefik.enable=true"]
                port = "http"
            }

            resources {
                cpu = {{ cpu }}
                memory = {{ memory }}
                network {
                    port "http" {
                        static = 4444
                    }

                }
            }
        }
    }
}
