job "selenoid-ui" {
    datacenters = [ "{{ datacenter }}" ]
    type = "service"
    group "selenoid-ui" {
        count = 1
        update {
            max_parallel = 1
            health_check = "checks"
        }

        task "selenoid-ui" {
            driver = "docker"
            config {
                image = "aerokube/selenoid-ui:{{ version }}"
                args = [
                    "--selenoid-uri",
                    "{{ linkURL }}"
                ]
                port_map {
                    http = 8080
                }
            }

            service {
                name = "selenoid-ui"
                tags = [
                    "global",
                    "selenoid-ui",
                    "traefik.enable=true"
                ]
                port = "http"
            }
            resources {
                cpu = {{ cpu }}
                memory = {{ memory }}
                network {
                    port "http" {}

                }
            }
        }
    }
}
